body {
	font-family: Arial Narrow;
	font-size: 16px;
	line-height: 1.5;
	
	background-color: #010D11;
	color: #F5F5F5;
	margin: 40px auto 40px auto;
	width: 620px;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

a:link {
	color: #F5F5F5;
	text-decoration: none;
	margin: 0 0 0 32px;
	transition: margin 1s;
}

a:hover {
	color: #D6FE62;
	margin: 0 0 0 64px;
}
